<div class="mt-5 mb-5 p-4">
    <div class="jumbotron">
        <h1 class="display-4">¿Que es la JAL?</h1>
        <p class="lead">
            Las JAL fueron consagradas por la Ley 136 Art 119, de 1994 como: corporación administrativa de carácter público que trabaja en la promoción de la participación ciudadana; es la agrupación del Estado más cercana a la ciudadanía pues la integran personas
            de cada comuna o corregimiento que generalmente son líderes reconocidos en sus comunidades.
        </p>
        <p class="lead">
            Como J.A.L de la Comuna 15, trabajaremos por toda la comuna conformada en su mayoría por los barrios: Tenche, Trinidad, Santa Fé, Campo Amor, Cristo Rey, San Pablo, Manzanares, Guayabal, La Colina, El Bolo, La Colinita y Betania.
        </p>
        <p class="lead">
            Las Juntas Administradoras Locales, tenemos las siguientes funciones:
        </p>
        <p class="lead">
            -Participar en la elaboración de los planes y programas municipales de desarrollo económico, social y de obras públicas. -Vigilar y controlar la prestación de los servicios públicos en la comuna o corregimiento Distribuir las partidas globales que les
            asigne el presupuesto municipal. -Intervenir en la discusión del Plan de Inversiones y el Presupuesto Municipal, para lo cual serán escuchados por las respectivas comisiones del Concejo de Medellín. -Son las encargadas de difundir entre los
            habitantes de la jurisdicción las decisiones que tengan que ver con la planificación de la comuna o corregimiento, tomadas por la administración municipal.
        </p>
        <hr class="my-4">
        <p class="lead">
            Información tomada de: <a href="http://www.registraduria.gov.co/descargar/jac-jal.pdf">Registraduria</a>
        </p>
    </div>






















    <!-- <h2>
        ¿Que es la JAL?
    </h2>
    <hr>
    <p>
        Las JAL fueron consagradas por la Ley 136 Art 119, de 1994 como: corporación administrativa de carácter público que trabaja en la promoción de la participación ciudadana; es la agrupación del Estado más cercana a la ciudadanía pues la integran personas
        de cada comuna o corregimiento que generalmente son líderes reconocidos en sus comunidades.
    </p>
    <p>
        Como J.A.L de la Comuna 15, trabajaremos por toda la comuna conformada en su mayoría por los barrios: Tenche, Trinidad, Santa Fé, Campo Amor, Cristo Rey, San Pablo, Manzanares, Guayabal, La Colina, El Bolo, La Colinita y Betania.
    </p>
    <p>
        Las Juntas Administradoras Locales, tenemos las siguientes funciones:
    </p>
    <p>
        -Participar en la elaboración de los planes y programas municipales de desarrollo económico, social y de obras públicas. -Vigilar y controlar la prestación de los servicios públicos en la comuna o corregimiento Distribuir las partidas globales que les
        asigne el presupuesto municipal. -Intervenir en la discusión del Plan de Inversiones y el Presupuesto Municipal, para lo cual serán escuchados por las respectivas comisiones del Concejo de Medellín. -Son las encargadas de difundir entre los habitantes
        de la jurisdicción las decisiones que tengan que ver con la planificación de la comuna o corregimiento, tomadas por la administración municipal.
    </p>
    Información tomada de: <a href="http://www.registraduria.gov.co/descargar/jac-jal.pdf">Registraduria</a> -->
</div>