<div class="container mb-5 mt-5">

    <h2>La oficina de la JAL esta ubicada en el Más cerca guyabal</h2>
    <hr class="mb-5">

    <div class="row p-3">
        <div class="col-md-5 mb-3 google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d126927.29572362664!2d-75.588526!3d6.200497!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2f06619647089959!2sMas+Cerca+Guayabal!5e0!3m2!1ses-419!2sco!4v1563417088581!5m2!1ses-419!2sco" width="600"
                height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 ">
            <div class="card ">
                <div class="card-body ">
                    <h4 class="card-title ">Informacion de contacto</h4>
                    <h4 class="card-text "><small>Dirección: Carrera. 52 N° 9 Sur-42</small></h4>
                    <h4 class="card-text "><small>Email: Jalguayabal@gmail.com</small></h4>
                    <h4 class="card-text "><small>Horario: Lunes a viernes de 7:30 a.m. a 5:00p.m</small></h4>
                </div>
            </div>
            <div class="card ">
                <img src="assets/img/mas-cerca.png " style="width: 100%; height: auto; ">
            </div>
        </div>
    </div>
</div>