<div class="container mt-5 mb-5 justify-content-center">
    <div class="row">

        <div class="col-md-4 facebook-feed">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fm.facebook.com%2FJALComuna15%2F&tabs=timeline&width=300&height=550&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="550"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>


    </div>
</div>