<div class="container mt-5 mb-5">
    <hr class="mb-5">

    <div *ngIf="true" class="row card-columns justify-content-center">
        <h3 class="titulo col-md-12 mb-5 animated bounceInDown">Estos son los ediles de nuestra Junta administradora local durante el periodo 2016 - 2019</h3>

        <div class="col-md-3 card m-3 animated bounceInLeft" *ngFor="let edil of ediles">
            <div class="card-content ">
                <img [src]="edil.imagen" class="card-img-top" [alt]="edil.nombre">
                <div class="info-img card-body text-center">
                    <h6 class="card-text">{{edil.nombre}}</h6>
                    <h6 class="card-text">Representante NODO {{edil.nodo}}</h6>
                    <h6 class="card-text">Contacto: {{edil.contacto}}</h6>
                </div>
            </div>
            <div class="card-body text-center pt-3 p-0">
                <h6 class="blockquote-footer">Cortesia del Canal Zona 6</h6>
            </div>
        </div>

        <hr class="my-lg-4 col-md-12">

    </div>

</div>